@model IEnumerable<Production.Models.Cart>

@{
    ViewData["Title"] = "Корзина";
}

<h1>Корзина</h1>
@User.Identity.Name
<table class="table">
    <thead>
        <tr>
            <th>
                Item Name
            </th>
            <th>
                Sum
            </th>
            <th>
                Amount 
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.item_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.items_amount)
            </td>
            <td>
                <button class="btn btn-danger">
                <a asp-action="Delete" asp-route-id="@item.id">Удалить</a></button>
            </td>
        </tr>
}
    </tbody>
</table>

<button onclick="scr()" value="">Оформить заказ</button>
<script>
    let path = window.location.origin; 
    let requestPath = path+`/Cart/makeOrder`;

      function scr(){ 
        fetch(requestPath).then( r => console.log(r));
        alert("Заказ отправлен");
        window.location.reload();
    } 
</script>
