@model Production.Models.Product

@{
    ViewData["Title"] = "Details";
}

 
<h1>Подробности</h1>

<div>
    <h4>@Html.DisplayFor(model => model.p_name)</h4>
    <hr />
    <dl class="row">
        <dd class = "col-sm-12">
            @Html.DisplayFor(model => model.description)
        </dd>
        <dd class="col-sm-12" id="model_amount">
            @Html.DisplayFor(model => model.amount)
        </dd>
    </dl>
</div>
<div>

@if (User.Identity.Name == "admin@admin.net") {
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> 
}

</div>
@if (User.Identity.Name != null) {
<input type="number" max=model.amount min=1 id="amount"/>
<br>
<br>
<a asp-controller="Cart" asp-action="Index" id="notification">
</a>
<br>
<br>
<button class="btn" onclick="addToCart()">Добавить в корзину</button> 
}
<script>  
    let modelam = parseInt(@Html.Raw(Model.amount));
    function addToCart(){ 
        
    let path = window.location.origin; 
    let price = @Html.Raw(Model.price); 
    let amount = parseInt(document.getElementById("amount").value);
    console.log(modelam > 10000)
    if (modelam < amount || amount <= 0) {
        pushNotification("Неправильные данные", false,0)
    }
    else {
    let sum = price * amount; 
    let modelName = "@Html.Raw(Model.p_name)"; 
    let requestPath = path+`/Products/AddToCart?sum=${sum.toFixed(2)}&amount=${amount}&item_name=${modelName}`; 
        let test= document.getElementById("amount").value;
        console.log(test);
        fetch(requestPath).then( r => console.log(r));
        pushNotification("Успешно добавлено в корзину", true,amount);
    }
    } 

    function pushNotification(message, state, reduce) {
        var notification = document.getElementById("notification");
        if (state) {
            notification.classList.remove("btn-warning");
            notification.classList.add("btn", "btn-success");
            notification.setAttribute("href","/Cart");
        } else {
            notification.classList.remove("btn-success");
            notification.classList.add("btn", "btn-warning");
            notification.removeAttribute('href');
        }
        notification.innerText = message;
        document.getElementById("model_amount").innerText = modelam - reduce;
        modelam -= reduce;
    }

    
</script>
