@model Production.Models.Product

@{
    ViewData["Title"] = "Details";
}

@{
    
}


    
<h1>Подробности</h1>

<div>
    <h4>@Html.DisplayFor(model => model.p_name)</h4>
    <hr />
    <dl class="row">
        <dd class = "col-sm-12">
            @Html.DisplayFor(model => model.description)
        </dd>
        <dd class="col-sm-12">
            @Html.DisplayFor(model => model.amount)
        </dd>
    </dl>
</div>
<div>

@if (User.Identity.Name == "admin@admin.net") {
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> 
}

</div>
@if (User.Identity.Name != null) {
<input type="number" max=model.amount min=1 id="amount"/>
<button onclick="addToCart()">Добавить в корзину</button> 
}
<script>  
    function addToCart(){ 
        
    let path = window.location.origin; 
    let price = @Html.Raw(Model.price); 
    //let amount = @Html.Raw(Model.amount); 
    var amount = document.getElementById("amount").value

    let sum = price * amount; 
    let modelName = "@Html.Raw(Model.p_name)"; 
    let requestPath = path+`/Products/AddToCart?sum=${sum}&amount=${amount}&item_name=${modelName}`; 
        let test= document.getElementById("amount").value;
        console.log(test);
        fetch(requestPath).then( r => console.log(r));
        alert("Добавлено в корзину"); 
        window.location.reload();
    } 
</script>
